header {
    display: flex;
    align-items: center;
    width: 86%;
    margin: 50px auto;
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    ul {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 57px;
      font-size: 24px;
      font-weight: 500;
    }
    li a {    
      text-decoration: none;
      color: black;
      white-space: nowrap;
    }
    li a.active {
      text-decoration: underline;
    }
    .logo {
      img {
        object-fit: cover;
        width: 100%;
      }
    }
  }
  }
  

@media screen and (max-width: 768px) {
   header {
    width: 90%;
margin: 20px auto;
   .navbar {
height: 47px;
     gap: 26px;
     ul {
       gap: 26px;
       font-size: 12px;
     li a {
text-transform: uppercase;
    }
     }
   };
   .logo {
    width: 145px;
   }
 }
}