.carousel {
  display: flex;
  position: relative;
  align-items: center;
  height: 415px;
  width: 86%;
  margin: 0 auto 40px;
  .arrow {
    color: #fff;
    background-color: unset;
    border: none;
    cursor: pointer;
    position: absolute;
  }
  .arrow-right {
    right: 20px;
  }
  .arrow-left {
    left: 20px;
  }
  article {
    display: none;
    width: 100%;
    height: 100%;
    &.visible {
      display: block;
    }
    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
      border-radius: 25px;
    }
  }
  span {
    position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #FFFFFF;
  font-size: 24px;
  }
}
